<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasswordGuesser</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title text-center">PasswordGuesser</h2>
                    <div class="card-body py-md-4">
                        <form action="/data" method="POST">
                            <div class="form-group">
                                <input name="text" type="text" class="form-control" id="text" placeholder="texte">
                            </div>
                            <div class="form-group">
                                <input name="date" type="date" class="form-control" id="date" placeholder="date">
                            </div>
                            <div>
                                <label>L33t</label>
                                <input type="checkbox" id="l33t" name="l33t" checked>
                            </div>
                            <div>
                                <label>Special char</label>
                                <input type="checkbox" id="specialChar" name="specialChar">
                            </div>
                            <input type="submit" value="send"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>